* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/copertina.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    height: 100px;

}

.navbar {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

nav .fa {
    display: none;
}

/* Footer style */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: blanchedalmond;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    body {
        overflow-y: scroll;
    }

    .navbar ul li {
        display: block;
    }

    .navbar {
        position: absolute;
        background: orange;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;   /* serve per scomparire il menu su dispositivi mobile */
        text-align: left;
        z-index: 9999;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .navbar ul {
        padding: 30px;
    }
}

.form-container {
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background:#fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .1);
    margin-top: 50px;
}

.form-container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input-box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #aaaaaa;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
}

.input-box input:focus {
    border-color: orange;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box i.user,
.input-box i.email,
.input-box i.password {
    left: 0;
    color: #707070;
}

.input-box input:focus ~ i.user,
.input-box input:focus ~ i.email,
.input-box input:focus ~ i.password {
    color: orange;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container a {
    color: orange;
    font-size: 12px;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    white-space: nowrap;
    column-gap: 8px;
}

.checkbox input {
    accent-color: orange;
}

.checkbox label {
    cursor: pointer;
    color: #0b0217;
    font-size: 12px;
    user-select: none;
}

.form-container .button {
    background: orange;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.login_singup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

@media(max-width: 700px) {
    /* .footer {
        display: none;
    } */
}

