* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/copertina.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    height: 100px;

}

.navbar {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

nav .fa {
    display: none;
}

/* Quello che c'è in @media verrà applicato a dispositivi con una grandezza <= 700px */
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .navbar ul li {
        display: block;
    }

    .navbar {
        position: absolute;
        background: orange;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;   /* serve per fa scomparire il menu su dispositivi mobile */
        text-align: left;
        z-index: 2; 
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .navbar ul {
        padding: 30px;
    }
}


/* Footer style */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: blanchedalmond;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
}

.descServizio {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.col img {
    width: 100%;
    border-radius: 150px;
    max-height: 300px;
    max-width: 300px;
}

.col h1 {
    padding-top: 0;
}

.col p {
    padding: 15px 0 25px;
}

/* Scrive un'altra volta media per rendere responsive una'altra parte del sito */
/* Si può inserire tutto nello stesso media */
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .navbar {
        z-index: 9999;
        position: fixed;
    }
}

.strutturaSito {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.strutturaSito h1 {
    font-size: 36px;
    font-weight: 600;
}

.funzCol {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
	transition: 0.5s;
}

.funzCol:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.about h1 {
    font-size: 36px;
    font-weight: 600;
}




